{% extends 'template1.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading">
    <i ></i><h2>Commande</h2>
</div>
<div class="panel-body"> 

    <table class="table">
    <thead class="thead-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Numcom</th>
                <td>{{ commande.numcom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tht</th>
                <td>{{ commande.tht }}</td>
            </tr>
            <tr>
                <th>Ttva</th>
                <td>{{ commande.ttva }}</td>
            </tr>
            <tr>
                <th>Tttc</th>
                <td>{{ commande.tttc }}</td>
            </tr>
        </tbody>
        </thead>
    </table>

    <a href="{{ path('commande_index') }}">back to list</a>

    

    
    </div>
    </div>
    </div>
{% endblock %}
