{% extends 'template1.html.twig' %}

{% block title %}Liste User{% endblock %}

{% block body %}
    <div class="container">
    <div class="panel panel-primary">
    <div class="panel-heading">
    <i ></i><h2>Liste user</h2>
</div>
<div class="panel-body"> 

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Login</th>
                <th>Pwd</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.pwd }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"class="btn btn-success">show</a>
                   <br>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"class="btn btn-warning">edit</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}"class="btn btn-info">Create new</a>
    </div>
    </div>
    </div>
{% endblock %}
